
@media (max-width: 500px){

    .contenidoGeneral{
        overflow: scroll;
        height: auto;
    }

    #menu{
        font-size:  20px;;
        text-decoration: none;
        list-style: none;
    }

    .menu{
        display: none;
    }

    h1{
       font-size: 25px;
    }

    .titulo_clientes, .titulo_contacto, .titulo_sobre_nosotros, .titulo_servicios{
        font-size: 30px;
        margin-bottom: -40px;
        font-weight:bold;
    }

    .logo{
        height: 40px;
    }

    .navigationBar{
        display: flex;
        align-items: center;
    }

    .section_clientes, .sobreNosotros, .grids{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
    }

    .imagen_clientes{
        padding-bottom: 50px;
        height: 230px;
        margin-bottom: -30px;
    }

    .textoPresentacion, .texto_contacto{
        width: 300px;
        text-align:justify;
    }

    .texto_contacto{
        display: flex;
        text-align: justify;
        flex-direction: column;
        justify-content: space-evenly;
        height: 200px;
        margin-top: 80px;
    }

    .grids{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }



    .grid_productos, .grid_servicios{
        width: 320px;
        margin-bottom: 30px;
    }

    .pieDePagina{
        background-color: black;
        color: white;
        margin-top: 5px;
        position: sticky;
        bottom: 0px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

@media (min-width: 600px){
    
.imagen_clientes{
    height: 230px;
    margin-bottom: -30px;
    filter: grayscale(100%);
    transition: all 0.6s;
}

.imagen_clientes{
    &:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}
}

} 