$estilos: (
    background-color: rgb(77, 77, 77),
    background-color-secondary: rgb(48, 48, 48),
    light-mode: white,
    dark-mode: black,
    color-default: grey
/*     font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
 */);

@mixin sizes ($width, $heigth){
    width: $width;
    height: $heigth;
}

@mixin text-decoration {
    text-decoration: none
}

*{
    margin: 0px;
    font-family: map-get($estilos,font);
}

.body{
    background-color:map-get($estilos, background-color);
}

h1{
    margin-left: 15px;
}

section{
    height: 400px;
}

.encabezado_inicio, .nav{
    display: flex; 
}

.encabezado_inicio{
    display: flex;
    background-color: map-get($estilos,dark-mode);
    color: map-get($estilos,light-mode); 
    margin-bottom: 20px;
    padding-right: 20px;
    display: flex;
    align-items:center;
    height: 120px;
    position: sticky;
    top: 0px;
}

.encabezado{
    @extend .encabezado_inicio;
    justify-content: space-between;
}

.navigationBar{
    display: flex;
    align-items: center;
}

#menu{
    @extend .navigationBar;
    @include text-decoration;
    font-size:xx-large;
    list-style: none;
    justify-content: space-around;
    height: 420px;
    transition: width 2s ;
    a{
        &:hover{
            margin-top: -5px;
            color:map-get($estilos,color-default);
        }        
    }
}

li{
    list-style: none;
    a {
        @include text-decoration;
        color: map-get($estilos,light-mode);
    }
}

aside{
    list-style: none;
    a {
        @include text-decoration;
        color: map-get($estilos,light-mode);
    }
}

footer{
    p{
        color: map-get($estilos,color-default);

        a{
            @include text-decoration;
            color: map-get($estilos,light-mode);
        }
    }
}

.logo{
    height: 50px;
    padding-left: 20px;
}

#perfil{
   height: 350px;  
   padding: 20px;
}


.card{
    font-size: 12px;
    margin: 60px;
    height: 450px;
}

.card-body{
    text-align: center;
}

.tarjetasContacto{
    @extend .navigationBar;
    justify-content: space-evenly;
}

.texto_cliente{
    color: map-get($estilos,color-default);
    margin-top: 50px;
    text-align: center;
    margin-bottom: -20px;
}

.texto_contacto{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contenidoGeneralSN{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido_mi_historia{
    background-color:map-get($estilos, color-default);
    height: 1000px;
    width: 700px;
    overflow: scroll;
    padding: 50px;
    margin: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.texto_mi_historia{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.titulo_tarjeta_SN{
    font-size: bold;
}

.grid_productos, .grid_servicios{
    @include sizes(500px, 200px);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    }

.producto, .servicio{
    border: solid 0.1px rgb(68, 68, 68);
    background-color: map-get($estilos,light-mode);
}

.titulo{
    color: map-get($estilos,light-mode);
    background-color: map-get($estilos, background-color-secondary);
}

.grids{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.titulo_servicios{
    color:  map-get($estilos,color-default);
    text-align: center;
    font-size: 50px;
    font-weight:bold;
}

.titulo_clientes, .titulo_contacto, .titulo_sobre_nosotros{
    @extend .titulo_servicios;
    margin-bottom: -20px; 
}

.section_clientes{
    @extend .tarjetasContacto;
}

.pieDePagina{
    @include sizes(100%, 40px);
    background-color:  map-get($estilos,dark-mode);
    color:  map-get($estilos,light-mode);
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}


@media (max-width: 500px){

    .contenidoGeneral{
        overflow: scroll;
    }

    #menu{
        font-size: 20px;
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    } 

    .menu{
        display: none;
    }

    h1{
       font-size: 25px;
    }

    .titulo_clientes, .titulo_contacto, .titulo_sobre_nosotros, .titulo_servicios{
        font-size: 30px;
        margin-bottom: -40px;
        font-weight:bold;
    }

    .logo{
        height: 40px;
    }

    .navigationBar{
        display: flex;
        align-items: center;
    }

    .section_clientes, .sobreNosotros, .grids{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
    }

    .imagen_clientes{
        padding-bottom: 50px;
        height: 230px;
        margin-bottom: -30px;
    }

    .textoPresentacion, .texto_contacto{
        width: 300px;
        text-align:justify;
    }

    .texto_contacto{
        display: flex;
        text-align: justify;
        flex-direction: column;
        justify-content: space-evenly;
        height: 200px;
        margin-top: 80px;
    }

    .grids{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }



    .grid_productos, .grid_servicios{
        width: 320px;
        margin-bottom: 30px;
    }

    .pieDePagina{
        background-color:  map-get($estilos, dark-mode);
        color:  map-get($estilos, light-mode);
        margin-top: 5px;
        position: fixed;
        bottom: 0px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }

}


@media (min-width: 600px){
    
.imagen_clientes{
    height: 230px;
    margin-bottom: -30px;
    filter: grayscale(100%);
    transition: all 0.6s;
    border-radius: 10px;
}

.imagen_clientes{
    &:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}
}

} 