*{
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
    background-color: rgb(77, 77, 77);
}

h1{
    margin-left: 15px;
}

section{
    height: 400px;
}

.encabezado_inicio, .menu{
    display: flex; 
}

.encabezado_inicio{
    height: 60px;
    display: flex;
    background-color: black;
    color: white; 
    position: sticky;
    margin-bottom: 20px;
    padding-right: 20px;
    display: flex;
    align-items:center;
    height: 120px;
    position: sticky;
}

#menu{
    font-size:xx-large;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 420px;
    transition: width 2s ;
}

#menu a:hover{
    margin-top: -5px;
    color: gray;
}

.menu{
    text-decoration: none;
    text-align:right;
    list-style: none;
    color: white;
    position: relative;
    float: right;
}

.menu a{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

li a, aside a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: gray;
}

.encabezado{
    background-color: black;
    color: white; 
    position: sticky;
    margin-bottom: 20px;
    padding-right: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 120px;
    position: sticky;
}

.navigationBar{
    display: flex;
}

.logo{
    height: 50px;
    padding-left: 20px;
}


.texto_cliente{
    color: grey;
    margin-top: 50px;
    text-align: center;
    margin-bottom: -20px;
}

#perfil{
   height: 350px;  
   padding: 20px;
}

.pieDePagina{
    background-color: black;
    color: white;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    position: sticky;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.sobreNosotros{
    display: flex;
    align-items: center;
}

.textoPresentacion{
    margin-left: 20px;
    width: 500px;
    color: white;
}

.texto_contacto{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.grid_productos, .grid_servicios{
    width: 500px;
    height: 200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    }

.producto, .servicio{
    border: solid 0.1px rgb(68, 68, 68);
    background-color: white;
}

.titulo{
    color: white;
    background-color: rgb(48, 48, 48);
}

.grids{
    display: flex;
    justify-content: space-evenly;
    
}

.titulo_clientes, .titulo_contacto, .titulo_sobre_nosotros{
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -20px ;
}

.titulo_servicios{
    color: gray;
    text-align: center;
    font-size: 50px;
}

.section_clientes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imagen_clientes{
    height: 230px;
    margin-bottom: -30px;
    filter: grayscale(100%);
    transition: all 1s;
}

.imagen_clientes:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}

